.about-us{
    background-color:rgb(237, 233, 222);
    
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem 10% 5rem 10%;
    text-align: left;
    gap: 30px;

}
.about-container hr{
    width: 10%;
    margin: 0;
}
.about-article{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: -4rem;
    padding-bottom: 5rem;
    margin-bottom: 0rem;
}
.about-left, .about-right{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    text-align: left;
    gap: 20px;
    padding: 0rem 0rem;
    

}
.about-left{
    width: 90%;
}
.about-right{
    display: flex;
    justify-content:right;
    align-items: flex-end;
    width: 90%;
}

.about-right img{
    border-radius: 10px;

}
.img2{
    width: 250px;
    position: absolute;
    z-index: 2;
    margin-right: -50px !important;
    margin-top: -50px;
    box-shadow: 40px 2px 80px rgba(0, 0, 0, 0.596);
}
.img1{
    width: 80%;
    position: relative;
    z-index: 1;
}


.about-team{
    display: flex;
    
    
}
.about-team img{
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.team-card{
    
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    margin-top: 1rem;
    transition: ease-in-out 0.2s;

}
.team-card:hover{
    transform: translateY(-4px);


}

@media only screen and (max-width: 768px) {
    
    .about-article{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .img2{
        width: 220px;
        position: absolute;
        z-index: 2;
        margin-left: -20px;
        box-shadow: 40px 2px 80px rgba(0, 0, 0, 0.596);
    }
    .img1{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .about-container{
        padding: 5rem 5% 5rem 5%;

        
    }
    .about-team{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        ;
    }
    .team-card{
        width: 45%;
        justify-content: space-around;
        align-items:center;
        text-align: center;

    }
    .about-left{
        margin-bottom: 5rem;
    }

}